.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary.active {
    border-color: #aa66cc !important;
    background-color: transparent !important;
    color: #aa66cc !important;
}