<div class="access-pan">
<h2>Welcome to Spectrum Management</h2>
<div class="d-flex flex-row justify-content-center w-100">
<div [@fadeInOutTranslate] class="px-1 col-md-4 col-6 col-sm-12 mb-1" (click)="goto('./user-area/members')">
        <div class="card mb-2 text-center category-list-card z-depth-bottom-1 light text-success text-info"
            style="height: 150px;">
            <div class="card-block px-2" style="overflow: hidden;">
                <i class="material-icons f-50 mb-2">
                    supervised_user_circle
                </i>
                <p class="m-b-0 f-16 f-w-500">
                    Members
                </p>
            </div>
        </div>
    </div>

    <div [@fadeInOutTranslate] class="px-1 col-md-4 col-6 col-sm-12 mb-1" (click)="goto('./user-area/events')">
        <div class="card mb-2 text-center category-list-card z-depth-bottom-1 light text-success text-info"
            style="height: 150px;">
            <div class="card-block px-2" style="overflow: hidden;">
                <i class="material-icons f-50 mb-2">
                    event
                </i>
                <p class="m-b-0 f-16 f-w-500">
                    Events
                </p>
            </div>
        </div>
    </div>
</div>

</div>